.recipe-image-link{
    width: 816px;
    margin: 0 auto 100px auto;
}

.site-title-text{
    text-align: center;
    font-family: 'Mansalva', cursive, sans-serif;
    font-size: 52px;
    font-weight: 400px;
    margin: 20px 0 40px 0;
}